body {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu";
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header,
footer {
  flex-shrink: 0;
  background-color: #264653;
  color: #f4a261;
  display: flex;
  padding: 1em 5em;
  font-size: 1.2rem;
  font-weight: 700;
}

header {
  justify-content: space-between;
}

.logo {
  font-size: 3rem;
}

.navbar {
  display: flex;
  gap: 1em;
  list-style: none;
}

.navbar a,
footer a {
  color: inherit;
  text-decoration: none;
}

.navbar a:hover,
footer a:hover {
  text-decoration: underline;
}

.navbar a:active,
footer a:active {
  color: #e76f51;
}

footer {
  justify-content: center;
  align-items: center;
}

.footer-copyright {
  margin: 0 0.3em;
}

main {
  flex-grow: 1;
  background-color: #e9c46a77;
}

/* Shopping cart button styling */

.btn-cart {
  color: inherit;
  background-color: inherit;
  border: none;
  font-size: 1.3rem;
  margin-left: 1em;
  position: relative;
  cursor: pointer;
}

.noti-badge {
  display: block;
  position: absolute;
  background-color: #e9c46a;
  top: -15px;
  right: -5px;
  font-size: 0.8rem;
  padding: 0.2em;
  color: #264653;
  min-width: 1.2em;
  border-radius: 50%;
  font-weight: 900;
  border: 2px solid #264653;
}

.noti-badge:empty {
  display: none;
}
